<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestConnection" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Mod05-ChelasDAL-Blogs-Test;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>